.charts-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    height: 40%;
    margin-bottom: 200px
}

.doughnut-container {
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
}

.bar-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 250px;
    margin: 0 auto;
    padding-top: 20PX;

    canvas {
        margin: auto 0;
    }
}