@use "helpers";

.charts-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    height: 40%;
}

.doughnut-container {
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
    animation: appear 1s;
}

.bar-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 215px;
    margin: 0 auto;
    padding-top: 20PX;
    animation: appear 1s;

    canvas {
        margin: auto 0;
    }
}

.toggle {
    // display: none;
    height: 20px;
    width: 40px;
    margin: 19px;
    // background-color: helpers.$select-color;
    // border: none;
    // border-radius: 20%;
    // opacity: 0.7;

    display: none;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        border: 1px solid white;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        background-color: helpers.$main-color;
        cursor: pointer;
        transition: 0.3s;
    }

    .slider::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: grey;
        border-radius: 50%;
        left: -2px;
        transition: 0.3s;
    }

    input:checked+.slider {
        background-color: helpers.$select-color;
    }

    input:checked+.slider::before {
        transform: translateX(24px);
    }

}

.toggle::after {
    content: "bar chart";
    white-space: nowrap;
    position: absolute;
    color: white;
    left: 55px;
    top: 5px;
    font-size: 12px;
}

.displayed {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}