@use 'helpers';

.form-container {
    height: 35%;
    min-height: 220px;
    border-bottom: 1px solid white;
}

form { 
    width: 300px;
    margin: helpers.$center;
    
    div {
        color: helpers.$font-color;
        margin: 5px;
    }

    p {
        color: helpers.$font-color;
    }
    
    select {
        @extend %fields;
        background-color: helpers.$select-color;

        &:hover {
            border: 1px solid white;
            opacity: 0.5;
        }

        option {
            background-color: helpers.$select-color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    button {
        @extend %fields;
        background-color: helpers.$select-color;
        
        &:hover {
            @extend %hover;
        }
    }
}