.map-wrapper {
    height: calc(60% - 20px);
    padding: 0 20px;
    box-sizing: border-box;
}

.map-container {
    width: 100%;
    min-width: 600px;
    max-width: 950px;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
}