@use 'helpers';
@use 'charts';
@use 'map';

@media (max-width: 540px) {
    .media-container {
        min-width: 0 !important;
        width: 100% !important;
    }
    
    .doughnut-container {
        margin: helpers.$center;
    }

    .map-container {
        min-width: auto;
    }

    .toggle {
        position: absolute;
        display: block;
        align-self: left;
    }
}

@media (max-width: 980px) {
    .main-container {
        position: relative;
    }

    .media-container {
        position: absolute;
        z-index: 9999;
        background-color: helpers.$main_color;
        margin-left: 0 !important;
        height: 100%;
        opacity: 1;
        transform: translate(0);
        transition: 0.5s ease-in-out;
    }

    .hidden {
        opacity: 0;
        transform: translate(-100%);
    }

    .charts-container {
        margin: helpers.$center;
    }

    .logo {
        display: block;

        &:hover {
            cursor: pointer;
            transform: rotate(360deg, 1s);
        }
    }
}

@media (max-height: 625px) {
    body {
        overflow: visible !important;
    }

    .main-container {
        height: calc(90% - helpers.$navbar-height - 80px);
    }
}