@use 'helpers';

.post {
    color: white;
    font-size: 8px;
    padding: 0 15px;
}

.text {
    font-size: 12px;
}

.meme-container {
    @extend %max;
    margin: helpers.$center;

    img {
        @extend %max;
        max-height: 250px;
        object-fit: contain;
        object-position: center;
    }
}