.meme-container, .meme-container img, .links-container {
  width: 100%;
  height: 100%;
}

.links-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button:hover {
  color: white;
  background: linear-gradient(to right, #212121, #999);
  box-shadow: 5px 5px 20px 0;
  cursor: pointer;
}

form select:hover {
  border: 1px solid white;
  opacity: 0.5;
  cursor: pointer;
}

.links-container {
  display: flex;
  justify-content: right;
}
.links-container div {
  height: 100%;
  width: 120px;
  margin-right: 20px;
  transition: 0.15s;
}
.links-container div:hover {
  background-color: #212121;
  cursor: pointer;
}
.links-container div:hover a {
  transform: scale(1.2);
}
.links-container span {
  padding-right: 10px;
}
.links-container a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.material-icons {
  color: white;
}

.menu {
  display: none;
}

.logo {
  margin-left: 30px;
}

.description {
  color: white;
  position: absolute;
  margin-left: 155px;
  margin-top: 10px;
}

.form-container {
  height: 35%;
  min-height: 220px;
  border-bottom: 1px solid white;
  padding: 0 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div {
  color: white;
  margin: 5px;
}
form p {
  color: white;
}
form select {
  width: 100%;
  max-width: 500px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  background-color: #d3d3d3;
}
form select option:hover {
  cursor: pointer;
}
form button {
  width: 100%;
  max-width: 500px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  background-color: #d3d3d3;
}
.post {
  color: white;
  font-size: 12px;
  padding: 0 15px;
}
.post div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.post * {
  padding-right: 5px;
}

.text {
  font-size: 12px;
  padding-right: 0;
  margin-top: 3px;
}

.meme-container {
  margin: 0 auto;
}
.meme-container img {
  max-height: 250px;
  object-fit: contain;
  object-position: center;
}

.map-wrapper {
  height: calc(60% - 20px);
  padding: 0 20px;
  box-sizing: border-box;
}

.map-container {
  width: 100%;
  min-width: 600px;
  max-width: 950px;
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
}

.charts-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  height: 40%;
  margin-bottom: 200px;
}

.doughnut-container {
  height: 220px;
  padding-top: 20px;
  padding-left: 20px;
  animation: appear 1s;
}

.bar-container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 250px;
  margin: 0 auto;
  padding-top: 20PX;
  animation: appear 1s;
}
.bar-container canvas {
  margin: auto 0;
}

.toggle {
  height: 20px;
  width: 40px;
  margin: 19px;
  display: none;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .slider {
  position: absolute;
  border: 1px solid white;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  background-color: #212121;
  cursor: pointer;
  transition: 0.3s;
}
.toggle .slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
  left: -2px;
  transition: 0.3s;
}
.toggle input:checked + .slider {
  background-color: #d3d3d3;
}
.toggle input:checked + .slider::before {
  transform: translateX(24px);
}

.toggle::after {
  content: "bar chart";
  white-space: nowrap;
  position: absolute;
  color: white;
  left: 55px;
  top: 5px;
  font-size: 12px;
}

.displayed {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 670px) {
  .logo {
    position: absolute;
  }
  .links-container div {
    width: 25px;
  }
  .links-container div a {
    display: none;
  }
  .media-container {
    min-width: 0 !important;
    width: 100% !important;
  }
  .doughnut-container {
    margin: 0 auto;
  }
  .bar-container {
    display: none;
    width: 304px;
    translate: 0 34px;
  }
  .map-container {
    min-width: auto;
  }
  .toggle {
    position: absolute;
    display: inline-block;
  }
}
@media (max-width: 980px) {
  .main-container {
    position: relative;
  }
  .media-container {
    position: absolute;
    z-index: 9999;
    background-color: #212121;
    margin-left: 0 !important;
    height: 100%;
    opacity: 1;
    transform: translate(0);
    transition: 0.5s ease-in-out;
  }
  .hidden {
    opacity: 0;
    transform: translate(-100%);
  }
  .charts-container {
    margin: 0 auto;
  }
  .menu {
    display: block;
    align-content: center;
  }
  .menu:hover {
    cursor: pointer;
  }
  .logo {
    margin-left: 10px;
  }
}
@media (max-height: 625px) {
  body {
    overflow: visible !important;
  }
  .main-container {
    height: calc(90% - 35px - 80px);
  }
}
@media (max-width: 785px) {
  .description {
    margin-top: 33px;
    margin-left: 47px;
  }
}
@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-weight: 400;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: Roboto, ariel, sans-serif;
  overflow: hidden;
}

.page-container {
  height: 100%;
  max-width: 1630px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  width: 100%;
  height: 35px;
  background: linear-gradient(black, black, #212121);
  position: relative;
}

.main-container {
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
}

.media-container {
  width: 40%;
  max-width: 550px;
  min-width: 360px;
  border-right: 1px solid white;
  margin-left: 25px;
}

.dashboard {
  flex-grow: 1;
}

/*# sourceMappingURL=styles.css.map */
